@()
<div id="result" style="display: none">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="portlet green-jungle box">
				<div class="portlet-title">
					<div class="caption">
						预测结果
					</div>

					<div class="actions">
						<div class="btn-group">
							<a class="btn green btn-outline btn-circle btn-sm" href="javascript:showExport();" data-close-others="true">
								<i class="fa fa-pencil"></i> 导出Pdf报告
							</a>
						</div>
					</div>

				</div>

				<div class="portlet-body" id="noCotent">


					<div class="tab-pane active" id="tab_1">
						<h3>
							<div id="single_text_1">样本号: <span id="showSampleId"></span></div>
						</h3>
						<h3>
							<div id="single_text_2">姓名: <span id="showName"></span></div>
						</h3>
						<div id="charts1" class="charts">没有图片结果生成！</div>
						<pre id="suggestion1"></pre>
					</div>


				</div>


				<div>

				</div>
			</div>
		</div>
	</div>

</div>
